apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer-churn-app-deployment
  labels:
    app: customer-churn
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customer-churn
  template:
    metadata:
      labels:
        app: customer-churn
    spec:
      containers:
        - name: customer-churn
          image: deepakkumarsingh/telecomcustomerchurn-app:IMAGE_TAG
          ports:
            - containerPort: 5000
          env:
            - name: MODEL_VERSION
              value: "IMAGE_TAG"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
