<!DOCTYPE html>
<html>
  <head>
    <title>Telecom Customer Churn Prediction</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
  </head>

  <body>
    <h1>Churn Prediction Form</h1>
    <form action="/predict" method="post">
      <label>Gender:</label><input type="text" name="Gender" /><br />
      <label>Age:</label><input type="number" name="Age" /><br />
      <label>Married:</label><input type="text" name="Married" /><br />
      <!-- Add more fields as needed -->
      <button type="submit">Predict</button>
    </form>
  </body>
</html>
